In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('dataframe').getOrCreate()

df_pyspark = spark.read.csv('test1.csv', header = True, inferSchema = True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|        10|  1300|
|Sudhanshu| 30|         5|  5000|
|    Sunny| 34|        12|  1800|
|   Adrian| 24|         2|  2500|
+---------+---+----------+------+

In [7]:
# salary of people ledd than 2000 
df_pyspark.filter('salary <= 2000').show()

+-----+---+----------+------+
| Name|age|experience|salary|
+-----+---+----------+------+
|Krish| 31|        10|  1300|
|Sunny| 34|        12|  1800|
+-----+---+----------+------+

In [9]:
df_pyspark.filter('salary <= 2000').select(['Name', 'age']).show()

+-----+---+
| Name|age|
+-----+---+
|Krish| 31|
|Sunny| 34|
+-----+---+

In [10]:
df_pyspark.filter(df_pyspark["salary"] > 2000).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|Sudhanshu| 30|         5|  5000|
|   Adrian| 24|         2|  2500|
+---------+---+----------+------+

In [12]:
df_pyspark.filter((df_pyspark["salary"] > 2000) & (df_pyspark['experience'] > 2)).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|Sudhanshu| 30|         5|  5000|
+---------+---+----------+------+

In [16]:
df_pyspark.filter((df_pyspark["salary"] > 2000) | (df_pyspark['experience'] > 10)).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|Sudhanshu| 30|         5|  5000|
|    Sunny| 34|        12|  1800|
|   Adrian| 24|         2|  2500|
+---------+---+----------+------+

In [15]:
df_pyspark.filter(~(df_pyspark["salary"] > 2000) | (df_pyspark['experience'] > 5)).show()

+-----+---+----------+------+
| Name|age|experience|salary|
+-----+---+----------+------+
|Krish| 31|        10|  1300|
|Sunny| 34|        12|  1800|
+-----+---+----------+------+