In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [3]:
spark.read.csv("test1.csv",header = True, inferSchema = True).show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+

In [31]:
df_pyspark = spark.read.csv("test1.csv",header = True, inferSchema = True)

In [6]:
df_pyspark.head(2)

[Row(Name='Krish', age=31, experience=10),
 Row(Name='Sudhanshu', age=30, experience=5)]

In [7]:
df_pyspark.columns

['Name', 'age', 'experience']

In [9]:
df_pyspark.select("experience").show()

+----------+
|experience|
+----------+
|        10|
|         5|
|         0|
|      null|
+----------+

In [10]:
df_pyspark.na.drop().show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
+---------+---+----------+

In [11]:
df_pyspark.na.drop(how = "all").show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+

In [13]:
# keep rows that have more than "thresh" elements not nulls  
df_pyspark.na.drop(how = "all", thresh = 3).show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
+---------+---+----------+

In [14]:
df_pyspark.na.drop(how = "all", subset = ["experience"] ).show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
+---------+---+----------+

In [18]:
# filling the missing values with an specific "value"
df_pyspark.na.fill(value= 300, subset= ['experience']).show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|       300|
+---------+---+----------+

In [32]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'experience','salary'],
    outputCols = ['{}_imputed'.format(c) for c in ['age', 'experience','salary']]
).setStrategy("median")

#strategy = median , media , etc

In [33]:
## add imputation cols to df 
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+---+----------+------+-----------+------------------+--------------+
|     Name|age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+---------+---+----------+------+-----------+------------------+--------------+
|    Krish| 31|        10|  1300|         31|                10|          1300|
|Sudhanshu| 30|         5|  null|         30|                 5|          1800|
|    Sunny| 34|         0|  1800|         34|                 0|          1800|
|   Adrian| 24|      null|  2500|         24|                 5|          2500|
+---------+---+----------+------+-----------+------------------+--------------+