# Have in mind all the process of installing 
# Java
# Spark
# winutils.exe
# link: https://sparkbyexamples.com/pyspark/how-to-install-and-run-pyspark-on-windows/
# Important: install pyspark compatible with current version of spark

In [ ]:
import pyspark
from pyspark.sql import SparkSession

In [13]:
import pandas as pd 
pd.read_csv('test1.csv')

        Name  age
0      Krish   31
1  Sudhanshu   30

In [7]:
spark = SparkSession.builder.appName('Practice').getOrCreate()
df_pyspark = spark.read.csv('test1.csv')

In [8]:
spark

In [9]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|    Krish| 31|
|Sudhanshu| 30|
+---------+---+

In [10]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [19]:
df_pyspark = spark.read.option('header','true').csv('test1.csv')

In [20]:
df_pyspark.show()

+---------+---+
|     Name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
+---------+---+

In [21]:
print(type(df_pyspark))

<class 'pyspark.sql.dataframe.DataFrame'>

In [23]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)