In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()

In [2]:
spark

In [3]:
spark.read.option('header','true').csv('test1.csv').show()

+---------+---+-----------+
|     Name|age|experience |
+---------+---+-----------+
|    Krish| 31|         10|
|Sudhanshu| 30|          5|
|    Sunny| 34|          0|
|   Adrian| 24|       null|
+---------+---+-----------+

In [5]:
# read the dataset
df_spark = spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [6]:
# check the schema
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience : integer (nullable = true)

In [36]:
df_spark = spark.read.csv('test1.csv',header = True, inferSchema=True)
df_spark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+

In [9]:
df_spark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience : integer (nullable = true)

In [10]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_spark.columns

['Name', 'age', 'experience ']

In [13]:
df_spark.head(3)

[Row(Name='Krish', age=31, experience =10),
 Row(Name='Sudhanshu', age=30, experience =5),
 Row(Name='Sunny', age=34, experience =0)]

In [14]:
type(df_spark.head(3))

list

In [15]:
df_spark.select('Name')

DataFrame[Name: string]

In [16]:
df_spark.select('Name').show()

+---------+
|     Name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|   Adrian|
+---------+

In [25]:
df_spark.select("experience",'Name').show()

+----------+---------+
|experience|     Name|
+----------+---------+
|        10|    Krish|
|         5|Sudhanshu|
|         0|    Sunny|
|      null|   Adrian|
+----------+---------+

In [26]:
# no show function
df_spark['Name']

Column<b'Name'>

In [28]:
df_spark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [31]:
df_spark.describe().show()

+-------+------+-----------------+----------+
|summary|  Name|              age|experience|
+-------+------+-----------------+----------+
|  count|     4|                4|         3|
|   mean|  null|            29.75|       5.0|
| stddev|  null|4.193248541803042|       5.0|
|    min|Adrian|               24|         0|
|    max| Sunny|               34|        10|
+-------+------+-----------------+----------+

In [37]:
# adding columns in a data frame using an existing column
df_spark.withColumn('experience after 2 years', df_spark['experience']+2).show()

+---------+---+----------+------------------------+
|     Name|age|experience|experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         5|                       7|
|    Sunny| 34|         0|                       2|
|   Adrian| 24|      null|                    null|
+---------+---+----------+------------------------+

In [38]:
df_spark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+

In [39]:
# adding columns in a data frame 
df_spark = df_spark.withColumn('experience after 2 years', df_spark['experience']+2)
df_spark.show()

+---------+---+----------+------------------------+
|     Name|age|experience|experience after 2 years|
+---------+---+----------+------------------------+
|    Krish| 31|        10|                      12|
|Sudhanshu| 30|         5|                       7|
|    Sunny| 34|         0|                       2|
|   Adrian| 24|      null|                    null|
+---------+---+----------+------------------------+

In [40]:
# drop columns 
df_spark = df_spark.drop('experience after 2 years')
df_spark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+

In [41]:
 # rename columns 
df_spark.withColumnRenamed('Name','name')

DataFrame[name: string, age: int, experience: int]

In [42]:
df_spark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         5|
|    Sunny| 34|         0|
|   Adrian| 24|      null|
+---------+---+----------+